<button class="button-upload-from-computer" {{action "uploadFile"}}>Upload from computer</button>
{{view "field-view" type="file" value="Upload from computer" class="file" name="file" errors=errors accept=accept}}
