<div class="editor">
  {{input value=text focus-in="edit" focus-out="acceptChanges" insert-newline="newLineInserted" placeholder=placeholder doFocus=doFocus}}
</div>
{{#each error in errors}}
  <span class="error message">{{error}}</span>
{{/each}}
