

/* Variables */
$font-size: 16px;
$open-sans-regular: 'Open Sans Regular', Helvetica Neue, Helvetica, Arial, sans-serif;
$open-sans-semibold: 'Open Sans Semibold', Helvetica Neue, Helvetica, Arial, sans-serif;
$open-sans-italic: 'Open Sans Italic', Helvetica Neue, Helvetica, Arial, sans-serif;
$open-sans-lightitalic: 'Open Sans Light Italic', Helvetica Neue, Helvetica, Arial, sans-serif;

@mixin icon($width, $height) {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  @include size($width $height);
}