@include font-face('Lato Regular', 'Lato-Regular', normal, normal);
@include font-face('Lato Bold', 'Lato-Bold', bold, normal);
@include font-face('Lato Italic', 'Lato-Italic', normal, italic);
@include font-face('Lato Light Italic', 'Lato-LightItalic', lighter, italic);

/* Variables */
$font-size: 16px;
$open-sans-regular: 'Lato Regular', Helvetica Neue, Helvetica, Arial, sans-serif;
$open-sans-semibold: 'Lato Bold', Helvetica Neue, Helvetica, Arial, sans-serif;
$open-sans-italic: 'Lato Italic', Helvetica Neue, Helvetica, Arial, sans-serif;
$open-sans-lightitalic: 'Lato Light Italic', Helvetica Neue, Helvetica, Arial, sans-serif;

@mixin icon($width, $height) {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  @include size($width $height);
}