$table-row-height: 56px;

table {
  width: 100%;
  border-collapse: collapse;

  a, a:visited {
    color: $darkgrey;
  }
  td, th {
    border-bottom: 1px solid $lightgrey;
    line-height: $table-row-height;
    height: $table-row-height;
  }
  th {
    @include font-size(0.8125);
    color: $midlightgrey;
    font-family: $open-sans-regular;
  }
  td {
    @include font-size(0.875);
    color: $grey;
  }
}
