$logo-height: 30px;
$top-bar-padding: 10px;
$top-bar-height: 2*$top-bar-padding + $logo-height;
$menu-bar-height: 40px;
$application-header-height: $top-bar-height + $menu-bar-height;

.collection-header, .application-header {
  //@include position(fixed, 0px 0 0 0px);
	z-index: 6;
	width: 100%;
  background: $white;
}
	
.application-header {

  background-color: $red;
  .container {
    padding-top: $top-bar-padding;
    padding-bottom: $top-bar-padding;
  }

  position:fixed;
  max-height: 0px;
  @include transition(max-height .5s ease-out);
  overflow:auto;

  &.show{
    max-height: 2000px;
    @include transition(max-height 1s ease-in);
  }

  .header-toggle {
    cursor:pointer;
  }

  .logo {
    $logo-width: hstry-logo-aspect-ratio() * $logo-height;
    display: block;
    float: left;
    @include size($logo-width $logo-height);
    img { @include size(100%); }
  }

  .current-user-name {
    line-height: $logo-height + 2px;
    font-family: $open-sans-semibold;
    color: $darkgrey;
    @include font-size(13px / $font-size);
    margin-left: 22px;
  }

  .menu {
    display:inline-block;
    .link {
      color: $fontlightgrey; 
      @include font-size(14px / $font-size);
      line-height: $menu-bar-height;
      margin: 0 20px;
      @include inline-block;
      cursor: pointer;

      &:first-of-type { margin-left: 0; }
      
    }
  }

  button {
    @extend %rounded-button;
    @include font-size(0.8125);
    float: right;
    display: block;
    line-height: 2em;
    margin: 2px 0;
  }
}

.collection-header {
  .container {
    padding-top: $top-bar-padding;
    padding-bottom: $top-bar-padding;
  }

  position:fixed;
  background-color: transparent;
  .header-toggle {
    cursor: pointer;
  }
  .logo {
    $logo-width: hstry-logo-aspect-ratio() * $logo-height;

    display: block;
    float: left;
    @include size($logo-width $logo-height);
    img { @include size(100%); }
  }
  
  .toggle-button-group {
    float:right;
  }
}

.header-overlay {
  background-color:#ff6666;
  position:fixed;
  height:100%;
  width:100%;
  z-index:1;
  visibility:hidden;
  opacity:0;
  transition:visibility 0s linear 0.5s,opacity 0.5s linear;
  //max-height: 0px;
  //@include transition(max-height .5s fade-out);
  //overflow:auto;
  &.show {
    visibility:visible;
    opacity:.4;
    transition-delay:0s;
  }
}