.index-page {
	height:100%;
	& > .map, & > .timeline {
		height:100%;
	}

	.timeline {
		display:none;
	}
	.admin-footer {
		z-index: 6;
	  width: 100%;
	  position: fixed;
	  bottom: 80px;
	  .button {
	  	float: right;
	  }
	}
}