<div class="container">
  {{#link-to "index" class="logo"}}<img src="/assets/images/logo-page-one.svg" alt= "Inverse of Logo of Page One" />{{/link-to}}
  <nav class="menu">
  	<ul>
  		<li class="link">About</li>
  		<li class="link">Blog</li>
  	</ul>
  </nav>
  <button>Log in</button>
</div>
