<div class="container">
  <div class="header-toggle" {{action "toggleHeader"}}><img class="logo" src="/assets/images/logo-page-one.svg" alt= "Inverse of Logo of Page One" /></div>
  <nav class="menu">
  	<ul>
  		<li class="link">About</li>
  		<li class="link">Blog</li>
  	</ul>
  </nav>
  {{#if session.isAuthenticated}}
	  <button {{ action 'invalidateSession' }}>Logout</button>
	{{else}}
	  {{#link-to 'login'}}<button {{action "toggleHeader"}}>Log in</button>{{/link-to}}
	{{/if}}
</div>
