{{#if menuToggle}}
	{{render "menuBar"}}
{{/if}}

{{! Modals }}
{{! outlet "modal"}}

{{! Popup notification}}
{{! render "notification"}}

<section {{bind-attr class=":main-container session.isLoggedIn"}}>
  {{#if isLoadingPage}}
  {{! Loading animation}}
  <div class="loader-overlay">
    <div class="loader">

    </div>
  </div>
  {{/if}}
  {{outlet}}
</section>
