<div class="container">
	<!--
	<section class="collection-title">{{model.title}}</section>
	<section class="works-displayed">Collection includes <span class="work-total">{{model.works.length}}</span> works</section>
	-->
	{{session.currentUser}}
</div>