<div class="container">
	<section class="collection-title">
		<h2>{{model.title}} by {{model.user.name}}</h2>
	</section>
	<section class="works-displayed">
		<h2>Collection includes <span class="work-total">{{model.works.length}}</span> works</h2>
	</section>
</div>