<div class="container">
  <div class="header-toggle" {{action "toggleHeader"}}><img class="logo" src="/assets/images/logo-page-one.svg" alt="Logo of Page One"  /></div>
  <!--
  <div class="toggle-button-group">
  	<button {{action "toggleTimeline"}} class="button">Map</button>
  	<button {{action "toggleMap"}} class="button">Timeline</button>
  </div>
  -->

</div>


