<header class="menu-bar-header">
	<div class="container">
	  {{#link-to "index" class="logo"}}<img src="/assets/images/logo-page-one-inverse.svg" alt= "Inverse of Logo of Page One" />{{/link-to}}
	</div>
</header>