<header class="top-bar-header">
	<div class="container">
	  {{#link-to "index" class="logo"}}<img src="/assets/images/logo-page-one.svg" alt="Logo of Page One" />{{/link-to}}
	  <div>
	  	<button>Map</button>
	  	<button>Timeline</button>
	  </div>
	</div>
</header>
